@import 'variables';

#app-window-form {
  &__name,
  &__email,
  &__question {
    color:red;
    font-size: 10px;
  }
}

.app-modal {
  position: fixed;
  display: none;
  width: 100%;
  height: 104vh;
  margin: 0 auto;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.app-window {
  max-width: 298px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;

  &-form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 298px;
    padding: 20px;
    z-index: 1;
    
    &__title {
      font-size: 24px;
      font-weight: 500;
      color: $drk_gray;
    }

    &__btn {
      width: 96px;
      border: none;
      border-radius:4px;
      margin-top: 8px;
      padding: 11px 18px 10px;
      background-color: $frm_btn_clr;
      color: #fff;
      font-weight: bold;
      font-size: 15px;
    }

    input {
    width: 100%;
    padding: 10px 10px 10px 10px;
    }

    &__txt {
      width: 100%;
      padding: 10px 10px 60px 10px;
    }

    input,
    textarea {
      // max-width:258px;
      font-weight: 100;
      font-size: 16px;
      margin: 13px 0;
      border: 1px solid $drk_gray;
      outline-color:#4bc7c7;
    }

    &__btn {
      width: 58px;
      padding: 7px 7px 6px;
      font-size: 10px;
    }

  }
}

@media screen and (max-width: 530px) { 
  .app-window {
    max-width: 159px;
    
    &-form {
      padding: 6px 5px 5px 6px;

      &__user {
        font-size: 10px;
        margin: 10px 0;
      }

      &__title {
        font-size: 16px;
      }

      textarea,
      input {
        margin: 3px 0;
        font-size: 10px;
      }
    }
  }
}

@media screen and (min-width: 320px)  {
  .app-modal {
    position: fixed;
    width: 100%;
    height: 100%;
  }
.app-window-form__btn {
  width: 58px;
  padding: 9px 0 8px;
  font-size: 11px;
}

}
