$active_blue:#56ccc8;
$lght_gray: #dde2e4;
$drk_gray: #475055;
$icon_gray:#c5cdd1;
$fb_color: #4d6baa;
$twit_color: #4fc6f8;
$ggl_color: #ea6060;
$rss_color: #f26522;
$pntr_color: #c8232c;
$lkd_color: #0e76a8;
$frm_btn_clr: #ea6060;
$header-height: 60px;
$sidebar-width: 224px;

@font-face {
  font-family: myrad_pro; 
  src: url(../assets/fonts/MyriadPro-Regular.ttf);
}